language: python
python:
  - "2.7"
  - "3.3"

install:
  - pip install .
  - pip install requests
  - pip install requests-oauthlib
  - pip install fasteners
  - pip install coveralls

script:
  - make coverage

after_success:
  - coveralls
